<div>

    <div>
        <h2 class="inline">Songs List</h2>
        <form id="search_form" class="navbar-search pull-right" ng-submit="searchFormSubmit();">
            <select id="search_by" class="search-query input-small" ng-model="search_by">
                <option value="search">All</option>
                <option value="track_name">Name</option>
                <option value="artist">Artist</option>
                <option value="album">Album</option>
            </select>
            <input type="text" class="search-query" placeholder="Search" ng-model="search_term_input">
            <a id="submit" class="btn btn-mini" ng-click="searchFormSubmit();"><i class="icon-search"></i></a>
        </form>
    </div>

    <table class="table table-striped table-hover">
        <thead class="sorting"><tr>
            <th>
                <a id="song_track_name_header" href="" ng-click="setSortBy('track_name')">Name</a>
                <img class="pull-right" ng-src="img/{{ track_name_sort_img || 'sort_both.png' }}" />
            </th>
            <th>Track</th>
            <th>
                <a id="song_artist_header" href="" ng-click="setSortBy('artist')">Artist</a>
                <img class="pull-right" ng-src="img/{{ artist_sort_img || 'sort_both.png' }}" />
            </th>
            <th>
                <a id="song_album_header" href="" ng-click="setSortBy('album')">Album</a>
                <img class="pull-right" ng-src="img/{{ album_sort_img || 'sort_both.png' }}" />
            </th>
            <th>
                <a id="song_genre_header" href="" ng-click="setSortBy('genre')">Genre</a>
                <img class="pull-right" ng-src="img/{{ genre_sort_img || 'sort_both.png' }}" />
            </th>
        </tr></thead>
        <tbody>
        <tr ng-repeat="song in songs">
            <td>
                <!-- class song_track_name is used for e2e testing only -->
                <span class="song_oid hide" ng-bind="song._id.$oid"></span>
                <a class="song_track_name" href="#/song/{{ song._id.$oid }}" ng-bind="song.track_name"></a>
            </td>
            <td ng-bind="song.track_num"></td>
            <td ng-bind="song.artist"></td>
            <td ng-bind="song.album"></td>
            <td ng-bind="song.genre"></td>
        </tr>
        </tbody>
    </table>

    <div id="song_list_paging">
        <pagination boundary-links="true" num-pages="totalPages" current-page="page_num" max-size="maxPagesBlocks" class="pagination-small" previous-text="&laquo;" next-text="&raquo;"></pagination>
    </div>

    <p>
        <button id="add_song" class="btn btn-primary" onclick="window.location.href='#/song/add'">Add Song</button>
    </p>

    <div id="alert_section">
        <alert ng-repeat="alert in alerts" type="alert.type" close="closeAlert()">{{ alert.msg }}</alert>
    </div>

</div>
