<div>

    <div>
        <h2 class="inline">Songs List</h2>
        <form class="navbar-search pull-right" ng-submit="searchFormSubmit()">
            <select class="search-query input-small" ng-model="search_by">
                <option value="search">All</option>
                <option value="track_name">Name</option>
                <option value="artist">Artist</option>
                <option value="album">Album</option>
            </select>
            <input type="text" class="search-query" placeholder="Search" ng-model="search_term">
        </form>
    </div>

    <table class="table table-striped table-hover">
        <thead class="sorting"><tr>
            <th>
                <a href="" ng-click="setSortBy('track_name')">Name</a>
                <img class="pull-right" ng-src="images/{{ getSortImageName('track_name') }}" />
            </th>
            <th>Track</th>
            <th>
                <a href="" ng-click="setSortBy('artist')">Artist</a>
                <img class="pull-right" ng-src="images/{{ getSortImageName('artist') }}" />
            </th>
            <th>
                <a href="" ng-click="setSortBy('album')">Album</a>
                <img class="pull-right" ng-src="images/{{ getSortImageName('album') }}" />
            </th>
            <th>
                <a href="" ng-click="setSortBy('genre')">Genre</a>
                <img class="pull-right" ng-src="images/{{ getSortImageName('genre') }}" />
            </th>
        </tr></thead>
        <tbody>
        <tr ng-repeat="song in songs">
            <td>
                <a class="song_name" href="#/song/{{ song._id.$oid }}" ng-bind="song.track_name"></a>
                <a class="delete hover" title="Delete Song" ng-click="askToRemoveSong(song._id.$oid, song.track_name);">x</a>
            </td>
            <td ng-bind="song.track_num"></td>
            <td ng-bind="song.artist"></td>
            <td ng-bind="song.album"></td>
            <td ng-bind="song.genre"></td>
        </tr>
        </tbody>
    </table>

    <div id="song_list_paging">
        <pagination boundary-links="true" num-pages="totalPages" current-page="page_num" max-size="maxPagesBlocks" class="pagination-small" previous-text="&laquo;" next-text="&raquo;"></pagination>
        <p>
            sort: {{ sortField }}; direction {{ sortAsc }}
        </p>
    </div>

    <p>
        <button id="add_song" class="btn btn-primary" onclick="window.location.href='#/song/add'">Add Song</button>
    </p>

    <div id="alert_section">
        <alert ng-repeat="alert in alerts" type="alert.type" close="closeAlert()">{{ alert.msg }}</alert>
    </div>

</div>
