<div>
    <h2 id="form_title" ng-bind="form_title"></h2>

    <form name="detailForm" ng-submit="formSubmitAction()">
        <fieldset>
            <legend>Info</legend>
            <ul class="unstyled">
                <li>
                    <label for="song_name">Name: </label>
                    <input id="song_name" class="input-xxlarge" type="text" ng-model="song.track_name" required />
                </li>

                <li>
                    <div class="inline">
                        <label for="song_track">Track (Number/Total): </label>
                        <input id="song_track" class="input-small" type="number" ng-model="song.track_num" />
                        <input id="song_track_count" class="input-small" type="number" ng-model="song.track_count" />
                    </div>
                    <div class="inline">
                        <label for="song_year">Year: </label>
                        <input id="song_year" class="input-small" type="number" ng-model="song.track_year" />
                    </div>
                </li>


                <li>
                    <label for="song_artist">Artist:</label>
                    <div ng-controller="TypeAheadArtistController">
                        <input id="song_artist" class="input-xxlarge" type="text" ng-model="song.artist" typeahead="artist.name for artist in artists | filter:$viewValue"></select>
                    </div>
                </li>
                <li>
                    <label for="song_album">Album:</label>
                    <div ng-controller="TypeAheadAlbumController">
                        <input id="song_album" class="input-xxlarge" type="text" ng-model="song.album" typeahead="album.name for album in albums | filter:$viewValue"></select>
                    </div>
                </li>
                <li>
                    <label for="song_genre">Genre:</label>
                    <div ng-controller="TypeAheadGenreController">
                        <input id="song_genre" class="input-xxlarge" type="text" ng-model="song.genre" typeahead="genre.name for genre in genres | filter:$viewValue"></select>
                    </div>
                </li>
            </ul>

        </fieldset><fieldset>
            <legend>Actions</legend>
            <button id="submit_detailForm" class="btn btn-primary" type="submit" ng-bind="form_submit_caption"></button>
            <button id="cancel_detailForm" class="btn" ng-click="cancelAction()">Cancel</button>
        </fieldset>
    </form>
    <div id="alert_section">
        <alert ng-repeat="alert in alerts" type="alert.type" close="closeAlert()">{{ alert.msg }}</alert>
    </div>

</div>
